
body {

  //background: pink;
}

#visualization {
  
  height: 1200px;
  width: 100%;
  background: white;
}

.vis-item-content:first-child {

}

.vis-group :first-child {
  //background-color: red;
}

.vis-group :nth-child(2) {
  background-color: red;
}